<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <title>Ahegao - Editar Categoria</title>
    <style>
         h1 {
            margin-top: 10px;
        }
        form {
            margin-top: 180px;
        }
        div.container {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>
<body>
    
    <div class="container">
        
                <h1>Edição de categoria</h1>
    
           
                <form method="POST" action="/categories/update">
                    <input type="text" class="form-control" name="title" placeholder="Defina o título da categoria" value="<%= category.title%>"><br>
                    <input type="hidden" name="id" value="<%= category.id %>">
                    <button class="btn btn-success">Atualizar</button>
                </form>
 
    </div>
</body>
</html>