<section class="footer">
    <p>Todos os direitos reservados © 2021 / Made with <span><img src="/images/heart.svg" alt="" height="17px" width="17px"></span> by: <a href="https://github.com/The-Livrodjx" target="_blank">Livrodjx</a></p>
</section>