<nav class="navbar">

    <div class="content">

      <div class="logo">
        <a href=""><img src="/images/logo.png" alt=""></a>
      </div>

      <ul class="menu-list">
        <div class="icon cancel-btn">
          <i class="fas fa-times"></i>
        </div>

        <li><a class="scrollTo navLink" href="#home">Home</a></li>
        <li><a class="scrollTo navLink" href="#about">Sobre</a></li>
        <li><a class="scrollTo navLink" href="#products">Produtos</a></li>
        <li><a class="scrollTo navLink" href="#services">Serviços</a></li>
        <li><a class="scrollTo navLink contact" href="#contact">Contato</a></li>
        <li><a class="scrollTo navLink logout" href="/logout">Logout</a></li>

      </ul>

      <div class="icon menu-btn">
        <i class="fas fa-bars"></i>
      </div>

    </div>
</nav>

<script>
  let linkLogOut = document.querySelector("li a.logout")

  linkLogOut.onclick = (e) => {
    e.preventDefault();

    let confirmed = confirm("Tem certeza que deseja sair ?")

    if(confirmed) {
      window.location.href = 'http://localhost:6969/logout'
    }

  }
</script>
