@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html.dark {
    background-color: #363636 !important;
    color: whitesmoke !important;
}

html.dark div.card {
    background-color: #363636 !important;
    color: whitesmoke !important;
}

html.dark div.card a.author {
    color: whitesmoke !important;
}

html.dark div.card a.watch-btn{
    background-color: whitesmoke !important;
    color: #363636 !important;
}

html.dark h1, h2 {
    background-color: #363636 !important;
    color: whitesmoke !important;
}

body {
    width: 100%;
    height: auto;
    min-height: 625px;
    display: flex;
    justify-content: center;

}

div.card a.author {
    color: #222;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #363636;;
    
}


::selection {
    background: whitesmoke;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 280px;
}

form input {
    width: 375px;
    height: 30px;
    margin-bottom: 20px;
    padding: 5px;
}

form button, form a{
    margin-top: 20px;
    margin-left: 80px;
    width: 200px;
    padding: 14px 19px;
    border: 1px solid #ccc;
}

form button:hover, a:hover {
    cursor: pointer;
}

.button-success, .button-error, .button-warning, .button-secondary {
    color: white;
    border-radius: 4px;

}

.button-success {
    background: rgb(28, 184, 65);
    /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60);
    /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20);
    /* this is an orange */
}

.button-secondary {
    background: #222;
    /* this is a light blue */
}

.registerLink {
    border: none;
    margin: 0;
    width: 300px;
    text-decoration: none;
}

.navbar-item img {
    height: 225px;
    max-height: 4rem !important;
}

.navbar-dropdown a.navbar-item {
    padding-left: 0.5rem !important;
}

.navbar-end {
    margin-right: 20px !important;
}