<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/global.css">
        <title>Ahegao - Login</title>

        <style>
            h1 {
                margin-top: -100px;
                margin-bottom: 50px;
            }
        </style>
    </head>
    <body>

        
        <form action="/saveuser" method="POST">
            <h1>Cadastrar-se</h1>

            <label for="">Nome</label>
            <input type="text" name="name" >

            <label for="">Email</label>
            <input type="email" name="email" >

            <label for="">Senha</label>
            <input type="password" name="password" >


            <button type="submit">Cadastrar</button>
        </form>
    </body>
</html>